html, body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.card-frame {
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
}

.card-container {
  width: 90%;
  max-width: 600px;
  padding: 2% 0;
  margin: 3% 5%;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
              0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: -moz-linear-gradient(70deg,  rgba(229,221,190,0.7) 0%, rgba(229,221,190,0) 31%, rgba(229,221,190,0) 78%, rgba(229,221,190,0.7) 100%);
  background: -webkit-linear-gradient(70deg,  rgba(229,221,190,0.7) 0%,rgba(229,221,190,0) 31%,rgba(229,221,190,0) 78%,rgba(229,221,190,0.7) 100%);
  background: linear-gradient(70deg,  rgba(229,221,190,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 78%,rgba(229,221,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e5ddbe', endColorstr='#b3e5ddbe',GradientType=1 );
}

.card {
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;

  font-family: 'Balthazar', 'Open Sans', sans-serif;
  font-variant: small-caps;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

.card-top {
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  margin: 0 16px;
}

.card-mid {
  margin: 80px 0;
}

.card p {
  margin: -5px;
}
.card a:link, .card a:visited {
  color: inherit;
  text-decoration: inherit;
}
.card h1, .card h2, .card h3, .card h4, .card h5, .card h6{
  display: inline;
  font-weight: normal;
  font-size: 20pt;
}
.card h1 {
  text-transform: uppercase;
}
.card h3 {
  font-size: 16pt;
}
.card h4 {
  font-size: 14pt;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(150, 150, 150, 0.5);
}
.card h5 {
  font-size: 12pt;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(150, 150, 150, 0.5);
}
.card h6 {
  font-size: 16pt;
  text-transform: none;
  text-shadow: 0 0 2px rgba(150, 150, 150, 0.5);
}


.menu-frame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-width: wrap;
}

nav {
  width: 22%;
  max-width: 200px;
  margin-left: 5%;
  margin-right: 1.5%;
  padding:10px 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: -moz-linear-gradient(70deg,  rgba(229,221,190,0.7) 0%, rgba(229,221,190,0) 31%, rgba(229,221,190,0) 78%, rgba(229,221,190,0.7) 100%);
  background: -webkit-linear-gradient(70deg,  rgba(229,221,190,0.7) 0%,rgba(229,221,190,0) 31%,rgba(229,221,190,0) 78%,rgba(229,221,190,0.7) 100%);
  background: linear-gradient(70deg,  rgba(229,221,190,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 78%,rgba(229,221,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e5ddbe', endColorstr='#b3e5ddbe',GradientType=1 );
}

nav div {
  width:100%;
  line-height: 50px;
}

nav div a{
  text-decoration: none;
  padding: 4px;
  padding-left:8%;
}

nav div a:hover {
  text-decoration: none;
  background-color: #33B5E5;
}

nav div a.active {
  background-color: #2993b8;
}

.info-container {
  width: 65%;
  max-width: 700px;
  margin-left: 1.5%;
  margin-right: 5%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: -moz-linear-gradient(70deg,  rgba(229,221,190,0.7) 0%, rgba(229,221,190,0) 31%, rgba(229,221,190,0) 78%, rgba(229,221,190,0.7) 100%);
  background: -webkit-linear-gradient(70deg,  rgba(229,221,190,0.7) 0%,rgba(229,221,190,0) 31%,rgba(229,221,190,0) 78%,rgba(229,221,190,0.7) 100%);
  background: linear-gradient(70deg,  rgba(229,221,190,0.7) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 78%,rgba(229,221,190,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e5ddbe', endColorstr='#b3e5ddbe',GradientType=1 );
}

video {
  z-index: -1;
  display: inline;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-width: 1280px;
}

@media (max-width: 670px) {
  nav {
    width: 90%;
    max-width: 600px;
    margin: 1% 5%;
    padding: 0;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
  }
  nav div a {
    display: block;
    text-align: center;
  }

  .info-container {
    width: 90%;
    max-width: 600px;
    margin: 3% 5%;
    padding: 0;
  }
}